:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 8px;
}

.button:hover {
  background-color: #646cff;
}

.jogo-da-memoria {
  padding: 16px;
}

.jogo-da-memoria__conteudo {
  max-width: 600px;
  margin: 0 auto;
}

.jogo-da-memoria__cartas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  @media (max-width: 767px) {
    grid-template-columns:  repeat(3, 1fr);
  }
}
.carta {
  width: 100%;
  height: 150px;
  perspective: 400px;

  @media (max-width: 767px) {
    height: 100px;
  }

  /* button */
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.carta img {
  max-width: 100%;
  height: 130px;
  object-fit: contain;

  @media(max-width: 767px) {
    height: 100px;
  }
}

.carta__conteudo {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 600ms ease-in-out;
  transform-style: preserve-3d;
}

.carta__frente,
.carta__costas {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;

  backface-visibility: hidden;
  --webkit-backface-visibility: hidden;
}

.carta__frente {
  background-color: crimson;
  background-image: url('/textura.png');
  background-position: center;
  background-size: cover;
}

.carta__costas {
  transform: rotateY(180deg);
}

.carta--virada .carta__conteudo {
  transform: rotateY(180deg);
}

.placar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.pontos {
  padding: 16px;
}

.resultado {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
}

.resultado--aberto {
  opacity: 1;
  visibility: visible;
}

.resultado__caixa {
  padding: 16px 32px;
  background-color: #333;
  border-radius: 16px;
  text-align: center;
}

.resultado__porcentos {
  margin-bottom: 8px;
}

.carta--encontrada {
  animation: animar-encontrada 0.5s 0.8s forwards;
}
